.evaluate-content{
    width: 540px;
    height: 150px;
    box-shadow: 1px 10px 20px #e9f0f2;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .icon-img{
        width: 60px;
    }
    .word-box{
        .up{
            font-size: 22px;
            font-weight: bold;
            color: black;
        }
        .mid{
            font-size: 16px;
            color: #262b38;
            margin: 15px auto;
        }
        .down-in{
            width: 200px;
            margin-top: 15px;
        }
    }
    .test-box{
        width: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .test{
            width: 90px;
            height: 30px;
            border: 1px solid #fe499e;
            color: #fe499e;
            font-size: 16px;
            text-align: center;
            line-height: 30px;
            border-radius: 5px;
            cursor: pointer;
        }
        img{
            margin-top: 20px;
        }
    }
}
